In [41]:
import pandas as pd
import numpy as np

In [42]:
ds = pd.DataFrame([
    ['1999-05-01 00:00:00',0],
    ['1999-05-01 00:02:00',0],
    ['1999-05-01 00:04:00',0],
    ['1999-05-01 00:06:00',0],
    ['1999-05-01 00:08:00',0],
    ['1999-05-01 00:10:00',1],
    ['1999-05-01 10:10:00',0],
    ['1999-05-01 10:12:00',0],
    ['1999-05-01 10:14:00',0],
    ['1999-05-01 10:16:00',0],
    ['1999-05-01 10:18:00',0],
    ['1999-05-01 10:20:00',1],
    ['1999-05-01 12:20:00',0],    
],
columns=['time','y'])

In [44]:
ds['time']= pd.to_datetime(ds['time'])

In [45]:
ds["next_measure"] = ds["time"].shift(-1)

In [46]:
ds['downtime'] = ds['next_measure'] - ds['time']

In [54]:
ds.groupby(['y'])['downtime'].agg('sum').iloc[1,]

Timedelta('0 days 12:00:00')

In [56]:
def calcDownTime(ds):
    dstmp = ds.copy()
    dstmp["next_measure"] = dstmp["time"].shift(-1)
    dstmp['downtime'] = dstmp['next_measure'] - dstmp['time']
    return (dstmp.groupby(['y'])['downtime'].agg('sum').iloc[1,])

In [57]:
calcDownTime(ds)

Timedelta('0 days 12:00:00')