In [1]:
import pandas as pd
import numpy as np

In [36]:
ds = pd.DataFrame([
    ['1999-05-01 00:00',0,0],
    ['1999-05-01 00:02',0,1],
    ['1999-05-01 00:04',0,2],
    ['1999-05-01 00:06',0,3],
    ['1999-05-01 00:08',0,4],
    ['1999-05-01 00:10',1,5],
    ['1999-05-01 10:10',0,6],
    ['1999-05-01 10:12',0,7],
    ['1999-05-01 10:14',0,8],
    ['1999-05-01 10:16',0,9],
    ['1999-05-01 10:18',1,10],
    ['1999-05-01 10:20',0,11],
    ['1999-05-01 12:20',0,12],    
],
columns=['time','y','x1'])

In [37]:
def lstm_data_transform(x_data, y_data, num_steps=5):
    """ Changes data to the format for LSTM training for sliding window approach """
    # Prepare the list for the transformed data
    X, y = list(), list()
    # Loop of the entire data set
    for i in range(x_data.shape[0]):
        # compute a new (sliding window) index
        end_ix = i + num_steps
        
        # if index is larger than the size of the dataset, we stop
        if end_ix > x_data.shape[0]:
            break
        
        # Get a sequence of data for x
        seq_X = x_data[i:end_ix]
        
        # Get only the last element of the sequency for y
        seq_y = y_data[end_ix-1]
        
        # Append the list with sequencies
        X.append(seq_X)
        y.append(seq_y)
    
    # Make final arrays
    x_array = np.array(X)
    y_array = np.array(y)
    return x_array, y_array

In [38]:
ds

                time  y  x1
0   1999-05-01 00:00  0   0
1   1999-05-01 00:02  0   1
2   1999-05-01 00:04  0   2
3   1999-05-01 00:06  0   3
4   1999-05-01 00:08  0   4
5   1999-05-01 00:10  1   5
6   1999-05-01 10:10  0   6
7   1999-05-01 10:12  0   7
8   1999-05-01 10:14  0   8
9   1999-05-01 10:16  0   9
10  1999-05-01 10:18  1  10
11  1999-05-01 10:20  0  11
12  1999-05-01 12:20  0  12

In [39]:
x_new, y_new = lstm_data_transform(ds.x1, ds.y, 4)

In [40]:
x_new

array([[ 0,  1,  2,  3],
       [ 1,  2,  3,  4],
       [ 2,  3,  4,  5],
       [ 3,  4,  5,  6],
       [ 4,  5,  6,  7],
       [ 5,  6,  7,  8],
       [ 6,  7,  8,  9],
       [ 7,  8,  9, 10],
       [ 8,  9, 10, 11],
       [ 9, 10, 11, 12]], dtype=int64)

In [41]:
y_new

array([0, 0, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [42]:
len(x_new)

10